backend/.env
backend/images/Capture001.png
backend/images/IMG-20230410-WA0019.jpg
backend/images/Q13.png
backend/images/Screenshot 2022-10-20 190526.png
backend/images/unit converter.jpg
backend/images/WhatsApp Image 2023-04-10 at 15.09.43.jpg
