body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: linear-gradient(rgb(39, 18, 113));  
  /* background-image: url('D:\LSPD_Project\react\lspd\src\components\Assets\GTA_5_Men_Assault_rifle_510422.jpg'); */
  /* background-size: cover; */
  /* background-size: ; */

  /* background-position: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
